.WelcomePage {
  background-image: url("../assets/images/introBG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "IrishGrover";
}
#wel {
  font-size: clamp(44px, 48px, 2vw);
  color: var(--orange-light);
}
#gameName {
  font-size: clamp(64px, 68px, 2vw);
  color: var(--dark);
  text-align: center;
  margin-top: 10px;
}
.WelcomePage .button {
  text-align: center;
  margin-top: 25vh;
}
.WelcomePage .button .btn {
  font-size: clamp(36px, 40px, 2vw);
  background-color: var(--blue-m);
  color: var(--orange-light);
  padding: 20px;
  transition: 0.5s ease-in-out;
}
.WelcomePage .button .btn:hover {
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 10px 10px var(--blue-l);
}
.WelcomePage h3 {
  color: var(--dark);
  text-shadow: 2px 2px #ba181b;
}
